.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.container {
	// background-color: red;
	column-gap: 10px;
	column-width: 250px;
	margin: 0;
	width: 100%;
	box-sizing:border-box;
}
.container .mat-card{
	break-inside: avoid;
	margin-bottom: 10px;
}
